@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
@import "variables";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", "Open Sans";
}

// .wrapper {
//   width: 100%;
// }

header {
  //   width: 100%;
  height: 156px;
  background: url("../images//bg-header-desktop.svg") $desaturated-dark-cyan;
}

.content {
  min-height: calc(100vh - 156px);
  background-color: $light-grayish-cyan;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  width: 80%;
  min-height: 50px;
  margin-top: -75px;
  margin-bottom: 50px;

  .custom-select {
    &__control {
      min-height: 50px;
      box-shadow: $box-shadow;
      padding: 0 25px;
      border: none;

      @media screen and (max-width: $tablets) {
        padding: 10px 16px;
      }

      &:hover {
        border: none;
      }
    }

    &__value-container {
      gap: 20px;
    }

    &__input {
      color: $desaturated-dark-cyan;
    }

    &__multi-value {
      background-color: $light-grayish-cyan;
      font-size: 0.8rem;
      border-radius: 5px;
      margin: 0;

      &__label {
        color: $desaturated-dark-cyan;
        font-weight: 700;
        font-size: 0.7rem;
        align-self: center;
        padding: 0 10px;
      }

      &__remove {
        width: 29px;
        height: 29px;
        background: url("../images/icon-remove.svg") center no-repeat
          $desaturated-dark-cyan;

        svg {
          display: none;
        }

        &:hover {
          background-color: $very-dark-grayish-cyan;
          cursor: pointer;
        }
      }
    }

    &__indicator-separator {
      background: none;
    }

    &__indicators {
      position: relative;
    }

    &__dropdown-indicator {
      svg {
        display: none;
      }
    }

    &__placeholder {
      color: $dark-grayish-cyan;
    }

    &__clear-indicator {
      cursor: pointer;

      svg {
        display: none;
      }

      &:hover {
        &::before {
          text-decoration: underline;
        }
      }

      &::before {
        position: absolute;
        content: "Clear";
        right: 0;
        font-size: 0.7rem;
        top: 50%;
        transform: translateY(-50%);
        color: $desaturated-dark-cyan;
        font-weight: 700;
      }
    }

    &_menu {
      box-shadow: $box-shadow;
    }

    &__option {
      font-size: 0.8rem;
      padding: 10px 35px;
      color: $desaturated-dark-cyan;

      &:hover,
      &--is-focused,
      &--is-selected {
        background-color: $light-grayish-cyan;
      }
    }
  }

  @media screen and (max-width: $desktops) {
    width: 90%;
  }
}

.job-list-container {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $desktops) {
    width: 90%;
    gap: 35px;
  }

  .job-container {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    padding: 16px 25px;
    align-items: center;
    box-shadow: $box-shadow;

    @media screen and (max-width: $tablets) {
      flex-direction: column;
      align-items: normal;
      position: relative;
      height: 100%;
      padding-top: 30px;
      padding-bottom: 15px;
    }

    &.border-left {
      border-left: 5px solid $desaturated-dark-cyan;
    }

    .logo {
      width: 88px;
      height: 88px;
      border-radius: 50%;

      @media screen and (max-width: $tablets) {
        width: 44px;
        height: 44px;
        position: absolute;
        top: -22px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .job-description {
      height: 88px;
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (min-width: $tablets) {
        min-width: 215px;
      }

      @media screen and (max-width: $tablets) {
        border-bottom: 1px solid $dark-grayish-cyan;
        margin-left: 0;
        height: auto;
        gap: 2vw;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }

      &__company-row {
        font-weight: 700;
        color: $desaturated-dark-cyan;
        font-size: 0.8rem;
        display: flex;
        align-items: center;

        .label {
          color: #eef6f6;
          text-transform: uppercase;
          border-radius: 15px;
          font-size: 0.55rem;
          padding: 5px;
          display: flex;
          height: 20px;
          padding-top: 6px;

          &:first-child {
            margin-left: 10px;
          }

          &:nth-child(2) {
            margin-left: 5px;
          }

          &__new {
            background-color: $desaturated-dark-cyan;
          }

          &__featured {
            background-color: $very-dark-grayish-cyan;
            content: "FEATURED";
          }
        }
      }

      &__job-title {
        font-weight: 700;
        color: $very-dark-grayish-cyan;

        &:hover {
          color: $desaturated-dark-cyan;
          cursor: pointer;
        }
      }

      &__info-box {
        display: flex;
        gap: 1vw;

        @media screen and (max-width: $mobile) {
          gap: 2vw;
        }

        .item {
          color: $dark-grayish-cyan;
          font-size: 0.7rem;
          display: flex;

          &:not(:last-child):after {
            content: "";
            margin-left: 1vw;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            align-self: center;
            font-size: 1rem;
            background: $dark-grayish-cyan;

            @media screen and (max-width: $mobile) {
              margin-left: 8px;
            }
          }
        }
      }
    }

    .labels {
      display: flex;
      margin-left: auto;
      gap: 15px;
      flex-wrap: wrap;

      @media screen and (min-width: $tablets) {
        justify-content: flex-end;
      }

      @media screen and (max-width: $tablets) {
        margin-right: auto;
        margin-left: 0;
      }

      &__item {
        border-radius: 5px;
        background-color: $light-grayish-cyan;
        font-size: 0.8rem;
        color: $desaturated-dark-cyan;
        padding: 5px;
        font-weight: 700;

        &:hover {
          color: $light-grayish-cyan;
          background-color: $desaturated-dark-cyan;
          cursor: pointer;
        }
      }
    }

    &--empty {
      justify-content: center;
      font-weight: 700;
      color: $desaturated-dark-cyan;
    }
  }
}
